@page
@model diplom.Pages.merch.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменение товара</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Material.Id" />
            <div class="form-group">
                <label asp-for="Material.Name" class="control-label">Название</label>
                <input asp-for="Material.Name" class="form-control" />
                <span asp-validation-for="Material.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Discription" class="control-label">Описание</label>
                <input asp-for="Material.Discription" class="form-control" />
                <span asp-validation-for="Material.Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Price" class="control-label">Цена</label>
                <input asp-for="Material.Price" class="form-control" />
                <span asp-validation-for="Material.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
