@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    
</div>
<div style="height:30px;"></div>
<div class="row">
    Наша компания была основана в 2010 году группой энтузиастов, которые верили в потенциал интернета как средства коммуникации и торговли. Мы начали с маленького онлайн-магазина, который специализировался на продаже книг. Но благодаря нашему стремлению к развитию и совершенствованию, мы выросли в одну из крупнейших компаний в своей отрасли.

    Сегодня наша компания включает в себя несколько подразделений, каждое из которых занимается своим направлением деятельности. Мы продолжаем расширяться, открывая новые филиалы и осваивая новые рынки.
</div>
<img src="/pics/home_pic.jpg" class="rounded mx-auto d-block" />
<div class="row">
    Наша команда состоит из высококвалифицированных специалистов, которые обладают обширными знаниями и опытом в своей области. Мы уделяем большое внимание обучению и развитию наших сотрудников, чтобы они могли предоставлять нашим клиентам наивысший уровень сервиса.

    Мы гордимся тем, что наша компания является лидером в своей отрасли и продолжает расти и развиваться. Мы стремимся к тому, чтобы стать еще лучше и предоставить нашим клиентам еще больше возможностей и преимуществ.
</div>