@page
@model diplom.Pages.UserModel
@{
}
<h2 class="text-center">Welcome to yout account</h2>

<div>
	Firstname: @Model.user?.Firstname
</div>
<div>
	Lastname: @Model.user?.Lastname
</div>
<div>
	Email: @Model.user?.Email
</div>
